.hero{
    /* background: */
    /* url(../images/bg-pattern-intro-desktop.svg) 30%   no-repeat, */
    /* linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); */
    border-radius: 0 0 0 100px;
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    height: 70vh;
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
/* 
.head-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

h1{
    font-size: 3rem;
}

.head-wrapper > p{
    font-size: 1.6rem;
    margin: 2rem 0;
}

.head-wrapper  button:first-of-type{
    margin-right: 2rem;
}
 */

 a{
   color: #ff525d;
   color: #ff7a85;
   color:#4b5862;
    color: #25252d
}